/*커서 커스텀 https://blog.webi.kr/34*/



@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    font-family: 'Nanum Gothic', 돋움체, Arial, Helvetica, sans-serif;    
}
#contents{
    width: 980px;
    margin: 0 auto;
}
header{
    margin-top: 10px;
    height: 150px;
    text-align: center;
    background-image: url(./images/title.png);
    background-size: auto;
    position: relative; /*앱솔루트를 위해 반드시 필요함*/
}
#textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.maintitle{
    font-family: 'Gugi', 돋움체, Arial, Helvetica, sans-serif;
    font-size: 55px;
}
#mainmenu{
    margin-top: 12px;
    margin-left: 135px;
}
nav{
    margin-top: 10px;
    height: 50px;
    border: 1px solid red;
    border-radius: 30px 30px 30px 30px;
    font-size: 20px;
    font-weight: bold;
}
ul{
    display: inline;
    text-align: center;
    list-style-type: none;
}
li{
    float: left;
    color: #202020;
}
iframe{
    margin-top: 10px;
}
section{
    width: 100%;
    height: 800px;
    border: 1px solid darkgreen;
    float: left;
    margin-top: 10px;
}

a:link {
    text-decoration: none;
    color: #202020;
}
a:visited {
    text-decoration: none;
    color: #202020;
}
a:active {
    text-decoration: none;
    color: #202020;
}
a:hover {
    text-decoration: none;
    color: green;
}